@font-face {
    font-family: 'codec_warm_trialregular';
    src: url('codec-warm-regular-trial-webfont.woff2') format('woff2'),
         url('codec-warm-regular-trial-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'futura_bk_btbook';
    src: url('futurabookbt-webfont.woff2') format('woff2'),
         url('futurabookbt-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}